# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
.devcontainer/
.github/

# Built binaries
reboot-switch-linux
reboot-switch.exe
reboot-switch
switch-linux-amd64
switch-windows-amd64.exe
switch
releases/
